/* Выделенный элемент */
.menu-horizontal-wrapper {
  display: flex;
  height: 60px;
  align-items: center;
  padding-left: 40px;
  padding-right: 20px;
  position: sticky;
  width: 100%;
  min-width: 100%;
  background-color: #fff;
}

/* Container */
.container {
  display: flex;
  gap: 40px;
  height: 60px;
  align-items: center;
  min-height: 1px;
  min-width: 1px;
  position: relative;
  width: 100%;
}

/* Left Section */
.left-section {
  flex-basis: 0;
  align-content: stretch;
  display: flex;
  gap: 30px;
  flex-grow: 1;
  align-items: center;
  min-height: 1px;
  min-width: 1px;
  overflow: clip;
  position: relative;
  flex-shrink: 0;
}

/* Main Title */
.main-title {
  box-sizing: border-box;
  align-content: stretch;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding-left: 4px;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  flex-shrink: 0;
}

.main-title p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.3;
  position: relative;
  flex-shrink: 0;
  color: #343e4d;
  font-size: 18px;
  white-space: pre;
  margin: 0;
}

/* Right Section */
.right-section {
  align-content: stretch;
  display: flex;
  gap: 40px;
  align-items: center;
  position: relative;
  flex-shrink: 0;
}

/* Button Action */
.button-action {
  align-content: stretch;
  display: flex;
  gap: 10px;
  align-items: start;
  position: relative;
  flex-shrink: 0;
}

/* Navigation Buttons */
.nav-button {
  position: relative;
  flex-shrink: 0;
  width: 45px;
  height: 45px;
}

.nav-button svg {
  display: block;
  width: 100%;
  height: 100%;
}

/* Avatar */
.avatar {
  background-color: rgba(155, 178, 189, 0.1);
  box-sizing: border-box;
  align-content: stretch;
  display: flex;
  gap: 6px;
  align-items: center;
  padding-left: 5px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  border-radius: 60px;
  flex-shrink: 0;
}

/* Letter */
.letter {
  background-color: #1bc5bd;
  align-content: stretch;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 25px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: normal;
  font-style: normal;
  font-size: 18px;
  color: white;
}

/* Avatar Text */
.avatar-text {
  font-family: "Montserrat", "Noto Sans", sans-serif;
  line-height: 25px;
  position: relative;
  flex-shrink: 0;
  color: #4b5675;
  font-size: 14px;
  white-space: pre;
  font-variation-settings: "CTGR" 0, "wdth" 100, "wght" 500;
  margin: 0;
}
